langchain==1.2.6
langchain-classic==1.0.0
langchain-community==0.4.1
langchain-core==1.2.7
langchain-google-genai==3.0.1
langchain-google-vertexai==3.1.0
langchain-huggingface==1.2.0
langchain-mcp-adapters==0.2.1
langchain-pinecone==0.2.0
langchain-tavily==0.2.15
langchain-text-splitters==1.0.0
langgraph==1.0.6
langgraph-api==0.6.39
langgraph-api-inmem==0.0.4
langgraph-checkpoint==4.0.0
langgraph-cli==0.1.55
langgraph-prebuilt==1.0.6
langgraph-runtime-inmem==0.22.1
langgraph-sdk==0.3.3
langsmith==0.6.4